:root {
  --text: rgb(255, 255, 255);
  --btn-shadow: 0 0 14px var(--border);
  --hover-zoom: scale(1.05);
  --display-bg:  rgba(0, 0, 0, 0.275);
  --primary-color: #486685;
  --secondary-color: #282c34;
  --border: #ff2f14;
  --gradient-match: #1a2031da;
  --hover: #314c66;
  --op-black:  rgba(0, 0, 0, 0.542);
  --op-black-hover:  rgba(0, 0, 0, 0.801);
  --border-radius: 5px;
  --canvas-bg:
    radial-gradient(
      ellipse farthest-side at top,
      #73646e 0,
      #3c3237 100%
    );
  --standard-b-shadow: 0 0 50px 1px #486685 inset;
  --standard-b-shadow-hover: 0 0 40px 1px #486685;
  --background-gradient:
    radial-gradient(
      ellipse at center,
      #282c34 0,
      #1f263b 100%
    );
  --lrg-background-gradient:
    radial-gradient(
      ellipse at center,
      var(--op-black) 0,
      #131724 100%
    );
}
/* holds the canvas and outside menus */
.content-body {
  height: 100vh;
  display: flex;
  overflow: hidden;
}
/* display for fractal */
.myCanvas {
  color: var(--text);
  width: 70vw;
  height: 100%;
  background: var(--canvas-bg);
}
.myCanvasBackground {
  color: var(--text);
  height: 100vh;
}
/* shared settings for side menu */
#side-menu {
  background-color: var(--secondary-color);
  box-sizing: border-box;
  width: 15vw;
  padding: calc(3px + 1vw);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
/* components shared theme */
.themed {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  color: var(--text);
  background: var(--background-gradient);
  border: 1px solid var(--border);
  border-radius: var(--border-radius);
  cursor: pointer;
  margin-bottom: calc(10px + 1vh);
  transition: box-shadow 0.7s, transform 0.4s;
}
.themed:hover {
  box-shadow: var(--standard-b-shadow-hover);
  transform: var(--hover-zoom);
}
/* icons and buttons */
i {
  background: none;
  height: 100%;
  width: 100%;
  padding: calc( 1vh - 3px );
}
.btn {
  box-sizing: border-box;
  cursor: pointer;
  font-size: calc(8px + 2vh);
  background: var(--background-gradient);
  border: 1px solid var(--border);
  border-radius: var(--border-radius);
  color: var(--text);
  width: fit-content;
  padding: 7px;
  margin: 0;
  position: relative;
}
.btn:hover {
  color: var(--border);
  background: var(--op-black);
}
.tool-icon {
  font-size: calc(8px + 2vh);
  /*padding: 5px;*/
  border-radius: var(--border-radius);
  color: var(--text);
  background: var(--border) none;
}
.tool-icon:hover {
  background-color: var(--text);
  color: var(--border);
  box-shadow: var(--btn-shadow);
}
/* button wrapper for icons */
.icon-btn {
  display: flex;
  justify-content: center;
  background: none;
  /*padding: 5px;*/
  /*height: fit-content;*/
  border: none;
}
/* banner display */
.banner {
  color: var(--text);
  font-size: calc(6px + 2vh);
  margin-top: calc(3px + 1vh);
}
/* tool counter display with icons */
.counter {
  width: 100%;
  vertical-align: middle;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: calc(3px + 1vh) 0;
}
/* display only */
.display {
  text-align: center;
  color: var(--text);
  border: 1px solid var(--border);
  width: 40%;
  font-size: calc(7px + 2vh);
  background-color:var(--display-bg);
  cursor: pointer;
}
/* tool components left menu */
.number-spinner-container {
  /*
  padding: calc(3px + 1vh);
  position: relative;
  height: calc(80vh / var(--num-of-tools));
  min-height: 60px;
  padding: 1vh;
  padding: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  */
}
/*color-picker & right menu section*/
.color-picker-container {
  height: 60%;
  position: relative;
  padding: calc(3px + 1vh);
  display: flex;
  justify-content: center;
  align-items: center;
}
/*radio-btn container*/
.radio-container {
  box-sizing: border-box;
  border: none;
  width: 100%;
  height: 30%;
  gap: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  box-shadow: none;
  overflow: hidden;
  margin: calc(3px + 2vh) 0;
  padding: calc(3px + 1vh)
}
/* color picker radio buttons */
.radio-btn {
  box-sizing: border-box;
  font-size: calc(7px + 1vmin);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--background-gradient);
  /*box-shadow: var(--standard-b-shadow);*/
  border-radius: var(--border-radius);
  /*width: auto;*/
  padding: calc(5px);
  /*margin: 0;*/
  height: auto;
}
.radio-btn:hover {
  background: var(--op-black);
  color: var(--border);
}
/* color display preview */
.color-tool-display {
  width: 100%;
  height: 40%;
  border: none;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: calc(3px + 2vh) 0;
}
.color-display {
  background: white;
  color: black;
  width: 75%;
}
/* container for rgba sliders */
.slide-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;
  margin: calc(3px + 1vh) 0;
  padding: 0 15px;
}
.slider-value {
  margin: 0 calc(4px + 1vh);
}
.color-slider {
  margin: calc(3px + 1vh) 0;
  padding: 5px;
  width: 100%;
  background-color: var(--op-black);
  border-radius: var(--border-radius);
}
.color-slider:hover {
  background-color: var(--op-black-hover);
  transition: background-color 0.5s;
  transition-timing-function: ease-in-out;
}
.color-slider input {
  background-color:var(--op-black);
  margin: 10px;
  border: none;
  height: 5px; /* thumb slider */
}
#red {
  background: red;
}
#green {
  background: green;
}
#blue {
  background: blue;
}
#red:hover {
  box-shadow: 0 0 30px 2px red;
}
#green:hover {
  box-shadow: 0 0 30px 2px green;
}
#blue:hover {
  box-shadow: 0 0 30px 2px blue;
}
/* update canvas */
.update-canvas {
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  align-items:center;
  gap: 15px;
  margin: calc(3px + 2vh) 0;
}
/* web-kits */
/* fire-fox green */
/* slider thumb */
 input[type=range]::-moz-range-thumb {
   cursor: pointer;
   height: 10px;
   background: var(--canvas-bg);
   background-color: var(--op-black); /* inner thumb */
   border: 5px outset var(--primary-color);
   border-radius: var(--border-radius);
   box-shadow: var(--standard-b-shadow-hover);
}
/* slider */
input[type=range]::-moz-range-track {
  cursor: pointer;
  border: none;
}
/* chrome, opera, and edge */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  margin-top: -5px;
  cursor: pointer;
  background: var(--canvas-bg);
  background-color: var(--op-black); /* inner thumb */
  border: 5px outset var(--primary-color);
  border-radius: var(--border-radius);
  box-shadow: var(--standard-b-shadow-hover);
}
/* chrome, opera, and edge */
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
  /*background: white;*/
  border-radius: var(--border-radius);
  border: 1px solid #010101;
}
input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* white in Chrome */
}
input[type=range]:focus {
  outline: none;
  background-color: pink;
}