.App {
  text-align: center;
}
:root {
  --primary-color: rgb(0, 0, 0);
  --secondary-color: #282c34;
  --third-color:  #ff2f14;
  --text:   rgb(255, 255, 255);
  --border: rgb(0, 155, 255);
  --type-1: rgb(255, 0, 0);
  --type-2: rgb(255, 230, 0);
  --type-3: rgb(17, 0, 255);
  --type-4: rgb(0, 255, 0);
  --type-5: rgb(234, 0, 255);
}
.display {
  color: var(--text);
}
.content-body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}
#myCanvas {
  display: flex;
  color: var(--text);
  width: 70vw;
  height: 100vh;
  background-color: rgb(0, 0, 0);
}
#side-menu {
  background-color: var(--secondary-color);
  width: 15vw;
  padding: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
}
/*
.slider {
}
.side-menu-right {
  border: 1px solid var(--third-color);
  background-color: var(--third-color);
  width: 15vw;
}
.side-menu-left {
  width: 15vw;
} */
.numOfBranches {
  color: var(--text);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.btn {
  color: var(--text);
  color:var(--text);
  border: none;
  background: none;
  font-size: calc(7px + 2vmin);
  /*
  height: auto;
  width: 30%;
  */
}
.display {
  /*
  background-color: blueviolet;
  padding: 10px;
  */
  position: absolute;
  display: flex;
  justify-content: center;
  font-size: calc(7px + 2vmin);
  height: auto;
  width: 20%;
  background-color: var(--text);
  color: var(--secondary-color);
}