:root {
  --text: rgb(255, 255, 255);
  --primary-color: #486685;
  --secondary-color: #282c34;
  --border: #ff2f14;
  --gradient-match: #1a2031da;
  --hover: #314c66;
  --op-black:  rgba(0, 0, 0, 0.542);
  --op-black-hover:  rgba(0, 0, 0, 0.801);
  --border-radius: 5px;
  --canvas-bg: radial-gradient(
    ellipse farthest-side at top,
    #73646e 0,
    #3c3237 100%
  );;
  --standard-b-shadow: 0 0 50px 1px #486685 inset;
  --standard-b-shadow-hover: 0 0 50px 5px #486685;
  --background-gradient: radial-gradient(
    ellipse at center,
    #282c34 0,
    #1f263b 100%
    );
  --lrg-background-gradient: radial-gradient(
    ellipse at center,
    var(--op-black) 0,
    #131724 100%
  )
}
.App {
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
i {
  color: var(--text);
}
i:hover {
  text-shadow: 0 0 10px var(--border); 
  color: var(--text);
}
.btn {
  font-size: calc(10px + 2vmin);
  color: var(--text);
  border: none;
  background: none;
}
.content-body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}
/* canvas settings */
.canvas-section {
  width: 70vw;
  height: 100vh;
  position: relative;
}
.myCanvas {
  color: var(--text);
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: var(--canvas-bg);
}
.myCanvasBackground {
  color: var(--text);
  width: 100%;
  height: 100vh;
}
#side-menu {
  background-color: var(--secondary-color);
  width: 15vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  box-sizing: border-box;
}
.themed {
  cursor: pointer;
  margin: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border);
  border-radius: var(--border-radius);
}
.themed:hover {
  box-shadow: var(--standard-b-shadow-hover);
}
.tool-container {
  margin: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background: var(--background-gradient);
  border: 1px solid var(--border);
  border-radius: var(--border-radius);
  cursor: pointer;
  position: relative;
}
.tool-container:hover {
  box-shadow: var(--standard-b-shadow-hover);
  transition-timing-function: ease-in-out;
  transition: box-shadow 0.5s;
}
/* title of toolbox */
.banner{
  color: var(--text);
  font-size: calc(4px + 2vmin);
}
/* span holding  + display - */
.counter {
  color: var(--text);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: calc(3px + 1vmin);;
}
/* show current values */
.display {
  text-align: center;
  color: var(--text);
  border: 1px solid var(--border);
  border-radius: var(--border-radius);
  padding: 6px;
  display: flex;
  justify-content: center;
  font-size: calc(7px + 2vmin);
  height: auto;
  width: 35%;
  /* min-width: 45px;
  label
  max-width: 65px; */
  background-color: rgba(0, 0, 0, 0.275);
  text-shadow: 0 0 10px var(--border);
}
/* right menu */
.color-tool-container {
  margin: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background: var(--lrg-background-gradient);
  border: 1px solid var(--border);
  border-radius: var(--border-radius);
  cursor: pointer;
  position: relative;
}
.color-tool-container:hover {
  background-color: rgb(80, 80, 180);
}
/* color picker display */
.color-tool-display {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* color preview */
.color-display {
  width: 100%;
  height: 90%;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}
.render-btn,
.clear-btn,
.random-btn,
.radio-btn,
.apply-btn,
.vert-slide,
.slide-counter,
.slide-container {
  color: var(--text);
  padding: 5px;
  margin: 1vh;
  display: flex;
  flex-direction: column;
}
.render-btn:hover,
.clear-btn:hover,
.random-btn:hover,
.radio-btn:hover {
  color: var(--text);
  box-shadow: var(--standard-b-shadow-hover);
  background-color: var(--secondary-color);
  border: 1px solid var(--border);
  text-shadow: 0 0 5px var(--border);
}
/* canvas updater */
.update-canvas {
  display: flex;
  flex-direction: column;
  margin: auto;
}
.apply-btn {
  font-size: calc(4px + 2vmin);
  color: var(--text);
  background: var(--background-gradient);
}
.apply-btn:hover {
  color: white;
  transition: box-shadow 0.3s;
  box-shadow: var(--standard-b-shadow-hover);
  background: var(--border);
  border: 1px solid var(--text);
  text-shadow: 0 0 10px var(--primary-color);
}
/* radio switches */
.radio-container {
  display: flex;
  justify-content: space-between;
  margin: 0;
}
.radio-btn {
  font-size: calc(8px + 1vmin);
  box-shadow: var(--standard-b-shadow);
}
/* slider thumbs and tracks */
.vert {
  height: 100%;
  border: none;
  background: var(--op-black);
  justify-content: center;
}
.horizontal {
  border: none;
  box-shadow: none;
}
.slide-container {
  box-sizing: border-box;
  color: var(--text);
  display: flex;
  box-sizing: border-box;
  border: none;
  background-color: none;
}
.slider {
  background: var(--primary-color);
  border-radius: var(--border-radius);  
  opacity: 0.4;
  transition: opacity .4s;
  border: none;
}
/* Mouse-over effects */
.slider:hover  {
  background: var(--text);
  opacity: 1; /* Fully shown on mouse-over */
}
.color-slider {
  background-color: var(--op-black);
  border-radius: var(--border-radius);
  margin: 1vw;
}
.color-slider:hover {
  background-color: var(--op-black-hover);
  transition: background-color 0.5s;
  transition-timing-function: ease-in-out;
}
.vert {
  width: 3px;
  border: none;
}
#red,
#blue,
#green {
  height: 3px;
}
#red {
  background: red;
}
#green {
  background: green;
}
#blue {
  background: blue;
}
#red:hover {
  box-shadow: 0 0 30px 2px red;
}
#green:hover {
  box-shadow: 0 0 30px 2px green;
}
#blue:hover {
  box-shadow: 0 0 30px 2px blue;
}
/* webKits for thumb range sliders */
/* Firefox */
input[type=range]::-moz-range-thumb {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.686);
  border: 1px groove var(--border);
  border-radius: var(--border-radius);
  box-shadow: var(--standard-b-shadow-hover);
}
/* WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.686);
  border: 1px groove var(--border);
  border-radius: var(--border-radius);
  box-shadow: var(--standard-b-shadow-hover);
}
/* IE */
input[type=range]::-ms-thumb {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.686);
  border: 1px groove var(--border);
  border-radius: var(--border-radius);
  box-shadow: var(--standard-b-shadow-hover);
}